<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initizl-scale=1.0">
    <title>Новые заказы</title>
</head>
<body style="margin: 0; padding: 0; box-sizing: border-box; background-color: #FFFAF0;">
<div class="wrapper">
    <div class="container" style="max-width: 900px;
                  padding: 0 15px;
                  margin: auto;
                  ">
        <div class="header" style="border-bottom: 1px solid #008B8B;">
            <h2 style="text-align: center;
          color: #008B8B;
          font-weight: 400;
          font-size: 30px;
          line-height: 67px;
          margin: 0;
          ">Заказы к сборке
            </h2>
            <p class="title" style="color: #FF0000; font-weight: 400; font-size: 12px; margin: 0;">
                Примечание:
            </p>
            {% for d in delivery %}
            {% if loop.last %}
                <p class="title" style="color: #FF0000; font-weight: 400; font-size: 12px;padding-bottom: 10px;  margin: 0;">
                    {{d.enum}} - {{d.name}}
                </p>
                {% else %}
                <p class="title" style="color: #FF0000; font-weight: 400; font-size: 12px; margin: 0;">
                    {{d.enum}} - {{d.name}}
                </p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="orders" style="border-bottom: 1px solid #008B8B; padding-bottom: 10px;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>