{% extends 'base.htm' %}
{% block content %}
{% for o in orders -%}
<div class="order"
     style="background-color: #fff5ee; padding: 10px 10px 0px 10px; margin-bottom: 5px; margin-top: 10px; border-radius: 10px; box-shadow: 5px 5px 5px rgb(245, 245, 220);">
    <div class="order__header">
        <h3>Заказ № {{ o.orderId }} от {{ o.order.createdAt.strftime('%d-%m-%Y %H:%M:%S') }}</h3>
        <ul style="list-style: none;">
            <li><span class="order__header-title" style="font-weight: 400;
                      font-size: 18px;
                      padding-bottom: 10px;
                      color: #696969;">Склад: {{ o.order.warehouse.name }}</span></li>
            <li><span class="order__header-title" style="font-weight: 400;
                      font-size: 18px;
                      padding-bottom: 10px;
                      color: #696969;">ИД сборочного задания: {{ o.order.orderUid }}</span></li>
            <li><span class="order__header-title" style="font-weight: 400;
                      font-size: 18px;
                      padding-bottom: 10px;
                      color: #696969;">Покупатель: Розничный покупатель</span></li>
            <li><span class="order__header-title" style="font-weight: 400;
                      font-size: 18px;
                      padding-bottom: 10px;
                      color: #696969;">Адрес доставки: {{ o.order.warehouse.delivery_office.address }}</span></li>
            <li><span class="order__header-title" style="font-weight: 400;
                      font-size: 18px;
                      padding-bottom: 10px;
                      color: #696969;">Способ доставки: {{ o.order.delivery_type.enum }} </span></li>
        </ul>
    </div>
    <div class="order__items">
        <table style="table-layout: fixed;
              width: 100%;
              border-collapse: collapse;
              border: 1px solid #008B8B;">
            <thead style="font-weight: 400;
             font-size: 16px;
             padding-bottom: 10px;
             color: #696969;">
            <tr style="border: solid 1px #ccc;
            text-align: center;">
                <th scope="col" class="col1" style="border: solid 1px #ccc;
            text-align: center; width: 30px;">№ п/п
                </th>
                <th scope="col" class="col2" style="border: solid 1px #ccc;
            text-align: center; width: 120px;">Код wb.
                </th>
                <th scope="col" class="col4" style="border: solid 1px #ccc;
            text-align: center;">Вид продукции
                </th>
                <th scope="col" class="col5" style="border: solid 1px #ccc;
            text-align: center;">Наименование
                </th>
                <th scope="col" class="col6" style="border: solid 1px #ccc;
            text-align: center; width: 100px;">Цена
                </th>
            </tr>
            </thead>
            {% for item in o.order.items -%}
            <tbody style="font-weight: 400;
             font-size: 16px;
             padding-bottom: 10px;
             color: #696969;">
            <tr style="border: solid 1px #ccc;
            text-align: center;">
                <td scope="col" class="col1" style="border: solid 1px #ccc;
            text-align: center; width: 30px;">{{ loop.index }}
                </td>
                <td scope="col" class="col2" style="border: solid 1px #ccc;
            text-align: center; width: 120px;">{{ item.good.id }}
                </td>
                <td scope="col" class="col4" style="border: solid 1px #ccc;
            text-align: center;">{{ item.good.object }}
                </td>
                <td scope="col" class="col5" style="border: solid 1px #ccc;
            text-align: center;">{{ item.good.vendorCode }}
                </td>
                {% if item.currencyCode != "643" %}
                <td scope="col" class="col6" style="border: solid 1px #ccc;
            text-align: center; width: 100px; color: red;"><b>{{ "%0.2f"|format(item.price / 100) | replace('.','-') }}
                    {{codes[item.currencyCode]}}</b>
                </td>
                {% else %}
                <td scope="col" class="col6" style="border: solid 1px #ccc;
            text-align: center; width: 100px;">{{ "%0.2f"|format(item.convertedPrice / 100) | replace('.','-') }}
                    {{codes[item.currencyCode]}}
                </td>
                {% endif %}
            </tr>
            </tbody>
            {%- endfor %}
        </table>
    </div>
    <p><b>Позиций в заказе: {{ o.order.items|length() }}. Сумма заказа в {{ codes[o.order.items[0].currencyCode] }}: {{
        "%0.2f"|format(o.order.items | sum(attribute='price')/100) | replace('.','-') }}. Сумма заказа в руб. {{
        "%0.2f"|format(o.order.items | sum(attribute='convertedPrice')/100) |
        replace('.','-') }}</b></p>
</div>
{%- endfor %}
{% endblock %}