{% block rows %}
<div class="order__items">
    <table style="table-layout: fixed;
              width: 100%;
              border-collapse: collapse;
              border: 1px solid #008B8B;">
        <thead style="font-weight: 400;
             font-size: 16px;
             padding-bottom: 10px;
             color: #696969;">
        <tr style="border: solid 1px #ccc;
            text-align: center;">
            <th scope="col" class="col1" style="border: solid 1px #ccc;
            text-align: center; width: 30px;">№ п/п
            </th>
            <th scope="col" class="col2" style="border: solid 1px #ccc;
            text-align: center; width: 120px;">Код wb.
            </th>
            <th scope="col" class="col4" style="border: solid 1px #ccc;
            text-align: center;">Вид продукции
            </th>
            <th scope="col" class="col5" style="border: solid 1px #ccc;
            text-align: center;">Наименование
            </th>
            <th scope="col" class="col6" style="border: solid 1px #ccc;
            text-align: center; width: 100px;">Цена, руб.
            </th>
        </tr>
        </thead>
        <tbody style="font-weight: 400;
             font-size: 16px;
             padding-bottom: 10px;
             color: #696969;">
        <tr style="border: solid 1px #ccc;
            text-align: center;">
            <td scope="col" class="col1" style="border: solid 1px #ccc;
            text-align: center; width: 30px;">1
            </td>
            <td scope="col" class="col2" style="border: solid 1px #ccc;
            text-align: center; width: 120px;">12323445
            </td>
            <td scope="col" class="col4" style="border: solid 1px #ccc;
            text-align: center;">БЛА БЛА
            </td>
            <td scope="col" class="col5" style="border: solid 1px #ccc;
            text-align: center;">БЛА БЛА
            </td>
            <td scope="col" class="col6" style="border: solid 1px #ccc;
            text-align: center; width: 100px;">5000
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p>Позиций в заказе: 1. Сумма заказа: 5000 руб.</p>
</div>
{% endblock rows %}