{% extends 'base.htm' %}
{% block content %}

<div class="order__header">
    <h3>Заказ №{{ id }} от {{ createdAt }}</h3>
    <ul style="list-style: none;">
        <li><span class="order__header-title" style="font-weight: 400;
                      font-size: 18px;
                      padding-bottom: 10px;
                      color: #696969;">Склад: {{ warehouse }}</span></li>
        <li><span class="order__header-title" style="font-weight: 400;
                      font-size: 18px;
                      padding-bottom: 10px;
                      color: #696969;">ИД сборочного задания: {{ order_id }}</span></li>
        <li><span class="order__header-title" style="font-weight: 400;
                      font-size: 18px;
                      padding-bottom: 10px;
                      color: #696969;">Покупатель: Розничный покупатель</span></li>
        <li><span class="order__header-title" style="font-weight: 400;
                      font-size: 18px;
                      padding-bottom: 10px;
                      color: #696969;">Адрес доставки: Склад Wildberries Волгоград</span></li>
        <li><span class="order__header-title" style="font-weight: 400;
                      font-size: 18px;
                      padding-bottom: 10px;
                      color: #696969;">Способ доставки: {{ delivery_type }} </span></li>
    </ul>
</div>

{% endblock %}